app/venv/
app/temp_pycache/
app/__pycache__/
app/api/__pycache__/
app/core/__pycache__/
app/services/__pycache__/
app/services/monitoring/__pycache__/
app/services/optimization/__pycache__/
app/services/repair/__pycache__/
app/utils/__pycache__/

launcher/bin/
launcher/obj/
wpf/bin/
wpf/obj/
wpf/temp_obj/

release/
*.exe
*.pdb
*.pyc
*.pyo
*.log
